/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Common */


#main {

}

.text--white {
    color: #fff !important;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .sub-nav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav .sub-nav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .sub-nav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}

#nav .sub-nav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    float: right;
    line-height: 46px;
    font-size: 20px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: red;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    text-align: center;
    width: 100%;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-desc {
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-style: italic;
    text-align: center;
    font-size: 15px;
    margin: 25px 0;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .member-list {
    display: flex;
    margin-top: 48px;
    justify-content: space-around;
}

#content .member-item {
}

#content .member-name {
    text-align: center;
}

#content .member-img {
    margin-top: 10px;
    border-radius: 3px;
    width: 150px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
} 

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    margin-top: -2px;
}


.place-list {
    margin-top: 32px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.place-item {
    background-color: #fff;
    width: 32%;
}

.place-img {
    width: 100%;
}

.place-img:hover {
    opacity: 0.7;
}

.place-body {
    padding: 15px;
}

.place-heading {

}

.place-date {
    padding: 15px 0;
}

.place-desc {
    margin-bottom: 15px;
}

.place-buy-btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 2px 10px;
}


/* Contact */
.contact__info {

}

.contact__info-item {
    display: flex;
}

.contact__info-item p {
    margin-left: 10px;
    font-weight: 500;
}

.contact__info-item i {
    margin-top: 4px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact__input {
    margin-top: 5px;
}

.contact__input .contact__input-message {
    padding: 8px 8px;
    margin-top: 5px;
}

.contact__input-info .contact__input-name,
.contact__input-info .contact__input-email {
    padding: 8px 8px;
}

.contact__input-message {
    width: 100%;
}

.contact__input .contact__input-btn {
    display: block;
    margin-top: 3px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 2px 8px;
    width: fit-content;
    float: right;
}

.place-item .place-buy-btn:hover,
.contact__input .contact__input-btn:hover {
    background-color: #ccc;
    color: #fff;
}

/* Road */
.road-section img{
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-media a{
    font-size: 25px;
    text-decoration: none;
    color: #a0a0a0;
}

#footer .social-media a:hover {
    color: rgba(0, 0, 0, 0.2);
}

#footer .author,
#footer .author a{
    color: #aaa;
}
